<div class="container col-6 justify-content formulaire shadow p-3 mb-3 mt-3 rounded">
    <p class="logo text-center">
        
    </p>
    <p class="text-center h5 titre">GESTION DES EMPLOYES CSTP</p>
    <hr>
<div class="card">
    <h4 class="text-center h5 titre">Ajouter un Utilisateur</h4>
    <hr>
    <div class="card-body">
        <form [formGroup] = "registerForm" (ngSubmit)="onSubmit()">
            <div class="row mb-3">
                <div class="col-lg-6">
                  <label for="username">Utilisateur</label>
                  <input type="text" class="form-control rounded-pill btn-block text-center" placeholder="username" formControlName="username">
                </div>
                <div class="col-lg-6">
                  <label for="password">Mot de Passe</label>
                  <input type="password" class="form-control rounded-pill btn-block text-center" placeholder="password" formControlName="password">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-12">
                  <label for="profile">Profile</label>
                   <select class="form-control rounded-pill btn-block text-center" formControlName="profile">
                    <option value="">Choisir un Profile</option>
                    <option *ngFor="let profile of profiles" value="{{profile.id}}">{{profile.libelle}}</option>
                   </select>
                </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-6">
                 <button class="btn bg-primary rounded-pill btn-block"  style="color: white;" type="submit" (click)= "onSubmit()">Valider</button>
              </div>
              <div class="col-lg-6">
                <button class="btn bg-danger rounded-pill btn-block"  style="color: white;" type="reset" >Effacer</button>
             </div>
            </div>
        </form>
    </div>
</div>
</div>