<div class="container col-8 justify-content formulaire shadow p-3 mb-3 mt-3 rounded">
    <p class="logo text-center">
        
    </p>
    <p class="text-center h5 titre">GESTION DES EMPLOYES CSTP</p>
    <hr>
<div class="card">
    <h4 class="text-center h5 titre">Modifier un Utilisateur</h4>
    <span>{{message}}</span>
    <hr>
    <div class="card-body">
        <form (ngSubmit)="onSubmit()">
            <div class="row mb-3">
                <div class="col-lg-6">
                  <label for="username">Utilisateur</label>
                  <input type="text" class="form-control rounded-pill btn-block text-center" placeholder="username"  name="username" [(ngModel)]="usee.username">
                </div>
                
            </div>
            <div class="row mb-3">
                <div class="col-lg-12">
                  <label for="profile">Profile</label>
                   <select class="form-control rounded-pill btn-block text-center" name="profile" [(ngModel)]="usee.profile">
                    <option value="">Choisir un Profile</option>
                    <option *ngFor="let profile of profiles" value="{{profile.id}}">{{profile.libelle}}</option>
                   </select>
                </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-6">
                 <button class="btn btn-success rounded-pill btn-block"  style="color: white;" type="submit" (click)= "onSubmit()">Modifier</button>
              </div>
             
            </div>
           
        </form>
    </div>
</div>
</div>
