<div class="container col-5 justify-content formulaire shadow p-3 mb-3 mt-3 rounded">
    <p class="logo text-center">
        
    </p>
    <p class="text-center h5 titre">GESTION CSTP: Liste USERS</p>
    <table class="table table-bordered">
        <thead class="bg-primary">
            <tr>
                <th>ID</th>
                <th>USERNAME</th>
                <th>PROFILES</th>
                <th>STATUS</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.profile.libelle}}</td>
                <td>
                    <div *ngIf="user.isActive else elseBlock">
                        <button class="btn btn-success" (click)="onStatus(user.id)">Activé</button>
                    </div>
                    <ng-template #elseblock>
                        <button class="btn btn-danger" (click)="onStatus(user.id)">Desactivé</button>
                    </ng-template>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="onDelete(user)">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example m-3">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="page-link subtitle" type="button" (click)="loadPagePrec()" *ngIf="prec">Précédent</a></li>
          <li class="page-item"><a class="page-link subtitle" type="button" (click)="loadPageNext()" *ngIf="suiv">Suivant</a></li>
        </ul>
    </nav>
</div>