

<body>
    <div class="row">
        <!-- column -->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Liste des employes</h4>
                    <div class="table-responsive">
                    <table class="table table-bordered no-wrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Matri</th>
                                <th>NOMS</th>
                                <th>Adresse</th>
                                <th>Téléphone</th>
                                <th>Services</th> 
                                <th>Fonction</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let employe of employes">
                                <td>{{employe.id}}</td>
                                <td>{{employe.matricule}}</td>
                                <td>{{employe.noms}}</td>
                                <td>{{employe.adresse}}</td>
                                <td>{{employe.telephone}}</td>
                                <td>{{employe.service.nomService}}</td>
                                <td>{{employe.fonction.nomFonction}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example m-3">
                        <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link subtitle" type="button" (click)="loadPagePrec()" *ngIf="prec">Précédent</a></li>
                        <li class="page-item"><a class="page-link subtitle" type="button" (click)="loadPageNext()" *ngIf="suiv">Suivant</a></li>
                        </ul>
                            </nav>
                </div>
            </div>
            </div>
            </div>
            </div>
</body>

